<div class="text-center ">
    <div *ngIf="inscription" >
      <div class="list container">
        <div>
          <label>Id: </label> {{inscription.id}}
        </div>
        <div>
          <label>Alumno: </label> {{inscription.alumno.nombre}} {{ inscription.alumno.apellido }}
        </div>
        <div>
          <label>Actividad: </label> {{inscription.actividad.nivel}} {{ inscription.actividad.categoria}}
        </div>
        <div>
          <label>Fecha de Inscripcion: </label> {{inscription.fecha_ins}}
        </div>
        <div>
          <label>Eliminar Inscription</label> 
          <button class="button is-small btn-danger" (click)='deleteInscription()'>Eliminar</button>
        </div>
        <br>
        <hr>
      </div>
      </div>
      </div>