.find{
    background-color: rgba(112, 185, 161, 0.6);
    width: 400px;
    display: inline-block;  
    border-radius: 1%;
    height: 187px;
    font-family: 'Josefin Sans', sans-serif;

}
.lis{
    margin-top: 7px;
    background-color: rgba(45, 182, 141, 0.6);
    font-family: 'Josefin Sans', sans-serif;
    display: inline-block;  
    border-radius: 1%;
}