<nav *ngIf="visible" class="navbar navbar-expand-xl sticky-top ">
  <a class="navbar-brand"  href="/home" >
      <img  src="assets/gym.png" width="40" height="40">Gym Artist Marta Barrera
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav text-center">
        <a class="nav-item nav-link active" href="/activities">Actividades</a>
        <span class="sr-only">(current)</span>
        <div class="dropdown nav-item">
          <a class="nav-link dropdown-toggle active" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Alumnos
          </a>
          <div class="dropdown-menu ilink" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item " href="/students">Ver alumnos</a>
            <a class="dropdown-item" href="/searchstudent">Buscar Alumnos</a>
            <a class="dropdown-item"  href="/newstudent" >Registrar Nuevo Alumno</a>
            <a class="dropdown-item"  href="/adults" >Adultos</a>
            <a class="dropdown-item"  href="/searchadult">Buscar Adultos</a>
          </div>
        </div>
        <div class="dropdown nav-item">
          <a class="nav-link dropdown-toggle active" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Inscripciones
          </a>
          <div class="dropdown-menu ilink" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/inscriptions">Ver Inscripciones</a>
            <a class="dropdown-item" href="/searchinscripcion">Buscar Inscripciones</a>
            <a class="dropdown-item" href="/newinscription">Nueva Inscripcion</a>
          </div>
        </div>
        <div class="dropdown nav-item">
          <a class="nav-link dropdown-toggle active" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pagos
          </a>
          <div class="dropdown-menu ilink" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/pays">Ver Pagos</a>
            <a class="dropdown-item " href="/searchpay">Buscar pago</a>
            <a class="dropdown-item " href="/newpay">Generar pago</a>
          </div>
        </div>
        <div class="dropdown nav-item">
          <a class="nav-link dropdown-toggle active" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Asistencia
          </a>
          <div class="dropdown-menu ilink" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/newassistance">Marcar Asistencia</a>  
            <a class="dropdown-item" href="/assists">Ver Asistencias</a>
            <a class="dropdown-item" href="/searchassistence">Buscar Asistencia</a>  
          </div>
        </div>
        <div class="dropdown nav-item">
          <a class="nav-link dropdown-toggle active" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reportes
          </a>
          <div class="dropdown-menu ilink" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item "  href="/reportassistance">Reporte de asistencia</a>
                        <a class="dropdown-item " href="/payreport">Reporte de pago</a>
          </div>
        </div>
        <a class="nav-item nav-link active" href="/databaseinfo">Info Data Base</a>
  </div>
  </div>
  </nav>