<app-navbar visible="true"></app-navbar>
<div class="text-center" >
    <h1 class="display-1">Inscripciones</h1>
    <br>
    <div [hidden]="submitted" >
    <div class="box">
        <form  [formGroup]="InscriptionForm" (ngSubmit)="onSubmit()">
            <div class="form-group"  formGroupName="alumno">
                 <label for="alumno">Ingrese Numero Del Alumno:</label>
                 <br>
                 <input type="number" formControlName="id"  name="alumno" class="form-control"  required>
              </div>
              <div class="form-group" formGroupName="actividad">
                <label for="actividad ">Elija Actividad</label>
                <br>
                <select class="form-control" formControlName="id_a" id="actividad"   name="actividad"  >
                    <option disabled selected value>---</option>
                    <option value='1'>Escuelita-Pulgas</option>
                    <option value='2'>Escuelita-Premini</option>
                    <option value='3'>Escuelita-Mini</option>
                    <option value="4">Escuelita-Preinfantil</option>
                    <option value='5'>Escuelita-Infantil</option>
                    <option value='6'>Escuelita-Juveniles</option>
                    <option value='7'>Escuela-Avanzada</option>
                    <option value='8'>Pre equipo</option>
                    <option value='9'>Equipo</option>
                </select>
            </div>
            <input disabled type="date" formControlName="fecha_ins">
             <p>
                 <button [disabled]="!InscriptionForm.valid" type="submit">
         <span >Inscribir</span>
         </button>
             </p> 
</form>
</div>
</div>
</div>
<div [hidden]="!submitted">
    <div class="text-center" >
<h2 class="tr display-2">El alumno ha sido inscripto </h2>
</div>
</div>