.box{
    background-color: rgba(98 , 187, 255, 0.9);
    border-radius: 3%;
    margin-top: 20px;
    display: inline-block;    
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.2em;

}
h1{
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgba(88, 162, 196,0.6);
color: rgb(0, 0, 0);
}
.tr{
    background-color: rgba(88, 162, 196,0.6);
    color: black;  
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 8px;


}