<div class="text-center ">
    <div *ngIf="activity" >
      <div class="list container">
        <div>
          <label>Numero: </label> {{activity.id_a}}
        </div>
        <div>
          <label>Nivel: </label> {{activity.nivel}}
        </div>
        <div>
          <label>Categoria: </label> {{activity.categoria}}
        </div>
        <div>
          <label>Edad: </label> {{activity.edad}}
        </div>
        <div>
          <label>Dias de practica: </label> {{activity.dias_practica}}
        </div>
        <div>
          <label>Valor: </label> {{activity.valor}}
        </div>
      </div>
      </div>
      </div>