<app-navbar visible="true"></app-navbar>
<div class="text-center mt-2" >
<div class="find" style=" display: inline-block; " >
<h2 class="mt-2">Buscar Alumno</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label style=" font-size: 1.5rem;" for="dni">Ingrese Dni del alumno:</label>
      <input type="text" class="form-control" id="id" required [(ngModel)]="dni" name="dni">
    </div>
    <div class="btn-group">
      <button type="submit" class="btn btn-dark">Buscar</button>
    </div>
  </form>
</div>
</div>
<div class="text-center mt-5" >
<div class="lis">
  <div class="mt-2" *ngFor="let student of students">
    <h3>Nombre: {{student.nombre}} - Apellido: {{student.apellido}}</h3>
    <h3>Fecha de nacimiento: {{student.fecha_nacimiento}}</h3>
    <h3>Estado Cuota : {{student.estado_cuota}} - Mail : {{student.mail}} - Obra social : {{student.obra_social}}</h3>
    <h3>Certificado medico : {{student.cert_medico}} - Numero Socio : {{student.num_socio}} - Dni {{student.dni}}</h3>
  </div>
</div>
</div>

