<div class="text-center" >
<div class="box">
<div class="reg text-center">
<h3 class="mt-2">Bienvenido !</h3>
<form action="" method="">
    <div class="imgcont">
      <img src="assets/user-01.png" height="80px" width="80px">
    </div>
    <div class="container">
       <p>
        <label for="uname">Usuario:</label>
        <input type="text" name="uname" required>
    </p>
    <p >
      <label  for="psw">Contraseña:</label>
      <input type="password" name="psw" required>
    </p>
      <p>
        <button type="submit">
<span class="lform">INGRESAR</span>
</button>
    </p>   
    <p>
       <label class="mb-0">
        <input type="checkbox" checked="checked" name="remember">Recordarme
      </label>
    </p>
    </div>
  </form>
  <a href="/register">Registrarse</a>
</div>
</div>
</div>