<app-navbar visible="true"></app-navbar>
<div class="text-center" >
    <div class="box">
    <div class="reg text-center">
    <h3 class="mt-2">Marcar Asistencia</h3>
    <form action="" method="">
        <div class="imgcont">
          <img src="assets/asis.png" height="80px" width="80px">
        </div>
        <div class="container">
           <p>
            <label for="dni">Ingrese DNI Del Alumno:</label>
            <input type="number" name="dni" required>
         </p>
        </div>
        <p>
            <button type="submit">
    <span class="lform">Asistió</span>
    </button>
        </p>   
      </form>
    </div>
    </div>
    </div>
