<div class="text-center ">
<div *ngIf="student" >
  <div class="list container">
    <div>
      <label>Numero: </label> {{student.id}}
    </div>
    <div>
      <label>Nombre: </label> {{student.nombre}}
    </div>
    <div>
      <label>Apellido: </label> {{student.apellido}}
    </div>
    <div>
      <label>Dni: </label> {{student.dni}}
    </div>
    <div>
      <label>Fecha de Nacimiento: </label> {{student.fecha_nacimiento}}
    </div>
    <div>
      <label>E-mail: </label> {{student.mail}}
    </div>
    <div>
      <label>Obra Social: </label> {{student.obra_social}}
    </div>
    <div>
      <label>Certificado medico: </label> {{student.num_socio}}
    </div>
    <div>
      <label>Cuota: </label> {{student.estado_cuota}} <button class="btn is-small btn-primary" *ngIf='student.estado_cuota' (click)='updateEstado_cuota(false)'>No pago cuota</button>
   
      <button class="btn is-small btn-success" *ngIf='!student.estado_cuota' (click)='updateEstado_cuota(true)'>Pago la cuota</button>
      <br>
      <label>Eliminar Alumno</label> <button class="button is-small btn-danger" (click)='deleteStudent()'>Eliminar</button>
    </div>
    <br>
    <hr>
  </div>
  </div>
  </div>